﻿@model tuconciergemodels.OfficeViewModel

@{
    Layout = null;
}


<div class="modal-header">
    <h5 class="modal-title" id="smModalLabel">Información de la empresa</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <dl>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Código Postal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            Logo
        </dt>

        <dd>
            <img src="@Model.Picture" alt="image" class="img-sm mr-3 mt-1" style="width:auto !important; height:32px !important; border-radius: 0px !important;">
        </dd>

        <dt>
            Ciudad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

</div>

<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-dark btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
</div>
