﻿@model tuconciergemodels.OfficeViewModel

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="officeForm" enctype="multipart/form-data">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Name">Nombre</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="files">Logo</label>
            <input id="files" type="file" name="file" accept="image/x-png,image/jpeg" class="form-control" , placeholder="Subir imagen">
        </div>

        <div class="form-group">
            <label for="Address">Dirección</label>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="PostalCode">Código postal</label>
            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Código Postal" } })
            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="selectCountry">País</label>
            <select class="form-control" id="selectCountry" onchange="getStates(this);">
                <option value="0">Seleccionar...</option>
                @Html.Action("Select", "Countries")
            </select>
        </div>

        <div class="form-group">
            <label for="selectStates">Estados</label>
            <select disabled class="form-control" id="selectStates">
            </select>
        </div>

        <div class="form-group">
            <label for="City">Ciudad</label>
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ciudad" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.Lat)
        @Html.HiddenFor(model => model.Long)
        @Html.HiddenFor(model => model.CountryId)
        @Html.HiddenFor(model => model.StateId)
        @Html.HiddenFor(model => model.Picture)
        @Html.HiddenFor(model => model.Id)

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="Save();">@ViewBag.SaveTextButton</button>
</div>