﻿@model IEnumerable<tuconciergemodels.OfficeViewModel>


@{
    ViewBag.CountElements = 0;
}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>
                    Logo
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Ciudad
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(ViewBag.CountElements += 1)
                        </td>
                        <td>
                            <img src="@item.Picture" alt="image" class="img-sm mr-3" style="width:auto !important; height:24px !important; border-radius: 0px !important;">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-rounded btn-icon mt-2" onclick="Location(@item.Id)">
                                <i class="mdi mdi-map-marker"></i>
                            </button> |
                            <button type="button" class="btn btn-info btn-rounded btn-icon mt-2" onclick="Details(@item.Id)">
                                <i class="ion ion-md-eye"></i>
                            </button> |
                            <button type="button" class="btn btn-warning btn-rounded btn-icon mt-2" onclick="Edit(@item.Id);">
                                <i class="ion ion-md-refresh"></i>
                            </button> |
                            <button type="button" class="btn btn-danger btn-rounded btn-icon mt-2" onclick="ConfirmDelete(@item.Id);">
                                <i class="ion ion-md-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">
                        <h5>Sin resultados</h5>
                    </td>
                </tr>
            }
        </tbody>
    </table>
