﻿@model tuconciergemodels.OfficeViewModel

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="locationForm">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="map-search">Buscar</label>
            <input id="map-search" class="form-control controls" type="text" placeholder="Buscar..." style="width: 70% !important;">
        </div>

        @*<input hidden id="latitude" type="text" class="latitude">
        <input hidden id="longitude" type="text" class="longitude">*@
        <input hidden id="city" type="text" class="reg-input-city" placeholder="City">

        <div id="map-canvas" style="width:100%; height: 350px !important;"></div>

        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Address)
        @Html.HiddenFor(model => model.PostalCode)
        @Html.HiddenFor(model => model.Picture)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.StateId)
        @Html.HiddenFor(model => model.CountryId)
        @Html.HiddenFor(model => model.Lat, new { @class="latitude" })
        @Html.HiddenFor(model => model.Long, new { @class="longitude" })
        @Html.HiddenFor(model => model.Id)

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="SaveLocation();">@ViewBag.SaveTextButton</button>
</div>

<script src="~/Content/js/javascript.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUtY_C0qwAWw1ZY4UX8R_oNiO8ptMqlas&libraries=places&callback=initialize"></script>