﻿@model tuconciergemodels.SalesPlanViewModel

<div class="form-group col-lg-6">
    <label for="Name">Nombre</label>
    <input type="text" id="name" value="@Model.Name" class="form-control" placeholder="Nombre" />
</div>

<div class="form-group col-lg-6">
    <label for="Precio">Precio</label>
    <input type="text" id="precio" class="form-control" value="@Model.Cost" placeholder="Precio" />
</div>

<div class="form-group col-lg-12">
    <label for="Description">Descripcion</label>
    <input type="text" id="descripcion" class="form-control" value="@Model.Description" placeholder="Precio" />
</div>
@Html.HiddenFor(model => model.Id)
<input type="hidden" id="ServiceIdC" value="@Model.ServicesId" />
<div class="col-lg-12 mt-3 d-flex justify-content-end">
    <button type="button" id="buto" class="btn btn-success btn-rounded btn-fw" onclick="SaveEdSP();">Actualizar</button>
</div>
