﻿@model IEnumerable<tuconciergemodels.SalesPlan>
@{
    ViewBag.CountElements = 0;
}
    <div class="col-lg-12 row" id="formSP">
        <div class="form-group col-lg-6">
            <label for="Name">Nombre</label>
            <input type="text" id="name" value="" class="form-control" placeholder="Nombre" />
        </div>

        <div class="form-group col-lg-6">
            <label for="Precio">Precio</label>
            <input type="text" id="precio" class="form-control" value="" placeholder="Precio" />
        </div>
        
        <div class="form-group col-lg-12">
            <label for="Description">Descripcion</label>
            <input type="text" id="descripcion" class="form-control" value="" placeholder="descripcion" />
        </div>

        <input type="hidden" id="ServiceIdC" value="" />
        <div class="col-lg-12 mt-3 d-flex justify-content-end">
            <button type="button" id="buto" class="btn btn-success btn-rounded btn-fw" onclick="saveSalesP();">Agregar</button>
        </div>
    </div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Plan</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(ViewBag.CountElements += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-rounded btn-icon" onclick="getComplements(@item.Id);">
                            <i class="mdi mdi-folder"></i>
                        </button> |
                        <button type="button" class="btn btn-warning btn-rounded btn-icon" onclick="EditSP(@item.Id);">
                            <i class="ion ion-md-refresh"></i>
                        </button> |
                        <button type="button" class="btn btn-danger btn-rounded btn-icon" onclick="ConfirmDeleteSP(@item.Id);">
                            <i class="ion ion-md-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" align="center">
                    <h5>Sin resultados</h5>
                </td>
            </tr>
        }
    </tbody>
</table>
