﻿
<input type="hidden" id="ServiceID" value="" />
<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="getListTab();">Planes</a>
            </li>
              
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="listTab" role="tabpanel" aria-labelledby="pills-home-tab">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
</div>
