﻿@model tuconciergemodels.CompanyFormModel

<div class="modal-header">
    <h5 class="modal-title" id="smModalLabel">Información de la empresa</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <dl>

        <dt>
            Nombre fiscal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalName)
        </dd>

        <dt>
            Nombre comercial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComercialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            Régimen fiscal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalRegime)
        </dd>

        <dt>
            Fecha de registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-dark btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
</div>