﻿@model tuconciergemodels.CompanyFormModel

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="companyForm">

        <h5>Datos de la empresa</h5>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="FiscalName">Nombre fiscal</label>
            @Html.EditorFor(model => model.FiscalName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre fiscal" } })
            @Html.ValidationMessageFor(model => model.FiscalName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="ComercialName">Nombre comercial</label>
            @Html.EditorFor(model => model.ComercialName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre comercial" } })
            @Html.ValidationMessageFor(model => model.ComercialName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="RFC">RFC</label>
            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control", @placeholder = "RFC" } })
            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="FiscalRegime">Régimen fiscal</label>
            @Html.EditorFor(model => model.FiscalRegime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Régimen fiscal" } })
            @Html.ValidationMessageFor(model => model.FiscalRegime, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.Id)

        <br />
        <h5>Datos del administrador</h5>

        <div class="form-group">
            <label for="AdminName">Nombre</label>
            @Html.EditorFor(model => model.AdminName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="AdminLastName">Apellido</label>
            @Html.EditorFor(model => model.AdminLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido" } })
            @Html.ValidationMessageFor(model => model.AdminLastName, "", new { @class = "text-danger" })
        </div>

        @if (Model.Id != 0)
        {
            <div class="form-group">
                <label for="AdminEmail">Correo electrónico</label>
                @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control", @placeholder = "Correo electrónico" } })
                @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="AdminEmail">Correo electrónico</label>
                @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo electrónico" } })
                @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
            </div>
        }

        <div class="form-group">
            <label for="AdminPhoneNumber">Teléfono</label>
            @Html.EditorFor(model => model.AdminPhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono" } })
            @Html.ValidationMessageFor(model => model.AdminPhoneNumber, "", new { @class = "text-danger" })
        </div>

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="Save();">@ViewBag.SaveTextButton</button>
</div>
