﻿@model IEnumerable<tuconciergemodels.Role>
@{
    ViewBag.CountElements = 0;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Perfiles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(ViewBag.CountElements += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-rounded btn-icon" onclick="Details(@item.Id)">
                            <i class="ion ion-md-eye"></i>
                        </button> |
                        <button type="button" class="btn btn-warning btn-rounded btn-icon" onclick="Edit(@item.Id);">
                            <i class="ion ion-md-refresh"></i>
                        </button> |
                        <button type="button" class="btn btn-danger btn-rounded btn-icon" onclick="ConfirmDelete(@item.Id);">
                            <i class="ion ion-md-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" align="center">
                    <h5>Sin resultados</h5>
                </td>
            </tr>
        }
    </tbody>
</table>