﻿@model tuconciergemodels.StaffViewModel


<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="staffForm" enctype="multipart/form-data">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Name">Nombre</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="FatherLastName">Apellido Paterno</label>
            @Html.EditorFor(model => model.FatherLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Paterno" } })
            @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="MotherLastName">Apellido Materno</label>
            @Html.EditorFor(model => model.MotherLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno" } })
            @Html.ValidationMessageFor(model => model.MotherLastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="files">Fotografía</label>
            <input id="files" type="file" name="file" accept="image/x-png,image/jpeg" class="form-control" , placeholder="Subir imagen">
        </div>

        <div class="form-group">
            <label for="Birth">Fecha de nacimiento</label>
            @Html.EditorFor(model => model.Birth, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/mm/yyyy" } })
            @Html.ValidationMessageFor(model => model.Birth, "", new { @class = "text-danger" })
        </div>

        <!---Enums Gender-->
        <div class="form-group">
            <label>Género</label>
            @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
        <!---Enums MaritalState-->
        <div class="form-group">
            <label>Estado civil</label>
            @Html.EnumDropDownListFor(model => model.MaritalState, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaritalState, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="CURP">CURP</label>
            @Html.EditorFor(model => model.CURP, new { htmlAttributes = new { @class = "form-control", @placeholder = "CURP" } })
            @Html.ValidationMessageFor(model => model.CURP, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="RFC">RFC</label>
            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control", @placeholder = "RFC" } })
            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Email">Correo electrónico</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo eléctronica" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="PhoneNumber">Número de teléfono</label>
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Número de teléfono" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Address">Dirección</label>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="selectOffice">Oficina</label>
            <select class="form-control" id="selectOffice">
                <option value="0">Seleccionar...</option>
                @Html.Action("Select", "Offices")
            </select>
        </div>

        <div class="form-group">
            <label for="selectCountry">País</label>
            <select class="form-control" id="selectCountry" onchange="getStates(this);">
                <option value="0">Seleccionar...</option>
                @Html.Action("Select", "Countries")
            </select>
        </div>

        <div class="form-group">
            <label for="selectStates">Estado</label>
            <select disabled class="form-control" id="selectStates">
            </select>
        </div>

        <div class="form-group">
            <label for="City">Ciudad</label>
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.State.CountryId, new { @id="CountryId" })
        @Html.HiddenFor(model => model.OfficeId)
        @Html.HiddenFor(model => model.StateId)
        @Html.HiddenFor(model => model.Photo)
        @Html.HiddenFor(model => model.Id)

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="Save();">@ViewBag.SaveTextButton</button>
</div>