﻿
    <ul class="nav page-navigation">
        <li class="nav-item" id="navHome">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <i class="mdi mdi-hexagon-outline menu-icon"></i>
                <span class="menu-title">Inicio</span>
            </a>
        </li>
        <li class="nav-item" id="navOffices">
            <a class="nav-link" href="@Url.Action("Index", "Offices")">
                <i class="mdi mdi-map-marker-circle menu-icon"></i>
                <span class="menu-title">Sucursales</span>
            </a>
        </li>
        <li class="nav-item" id="navCoverages">
            <a class="nav-link" href="@Url.Action("Index", "Coverages")">
                <i class="ion ion-md-globe menu-icon"></i>
                <span class="menu-title">Coverturas</span>
            </a>
        </li>
        <li class="nav-item" id="navCompanies">
            <a class="nav-link" href="@Url.Action("Index", "Services")">
                <i class="ion ion-md-star-outline menu-icon"></i>
                <span class="menu-title">Servicios</span>
            </a>
        </li>
        <li class="nav-item" id="navContracts">
            <a href="@Url.Action("Index", "Contracts")" class="nav-link">
                <i class="mdi mdi-clipboard-outline menu-icon"></i>
                <span class="menu-title">Contratos</span>
                <i class="menu-arrow"></i>
            </a>
            <!--<div class="submenu">
                <ul class="submenu-item">
                    <li class="nav-item" id="navCountries"><a class="nav-link" href="@Url.Action("Index", "Countries")">Gestión de contratos</a></li>
                    <li class="nav-item" id="navStates"><a class="nav-link" href="@Url.Action("Index", "States")">Gestión de cobro</a></li>
                    <li class="nav-item" id="navStates"><a class="nav-link" href="@Url.Action("Index", "States")">Historial de contratos</a></li>
                </ul>
            </div>-->
        </li>
        <li class="nav-item" id="navStaff">
            <a class="nav-link" href="@Url.Action("Index", "Staff")">
                <i class="mdi mdi-face menu-icon"></i>
                <span class="menu-title">Personal</span>
            </a>
        </li>
        <!--<li class="nav-item mega-menu">
        <a href="#" class="nav-link">
            <i class="ion ion-md-apps menu-icon"></i>
            <span class="menu-title">Recursos Humanos</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="submenu">
            <div class="col-group-wrapper row">
                <div class="col-group col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <p class="category-heading">Basic Elements</p>
                            <div class="submenu-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/accordions.html">Accordion</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/badges.html">Badges</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/breadcrumbs.html">Breadcrumbs</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdown</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/modals.html">Modals</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/progress.html">Progress bar</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/pagination.html">Pagination</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/tabs.html">Tabs</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/tooltips.html">Tooltip</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-group col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <p class="category-heading">Advanced Elements</p>
                            <div class="submenu-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/dragula.html">Dragula</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/carousel.html">Carousel</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/clipboard.html">Clipboard</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/context-menu.html">Context Menu</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/loaders.html">Loader</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/slider.html">Slider</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/popups.html">Popup</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/notifications.html">Notification</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-group col-md-4">
                    <p class="category-heading">Icons</p>
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="pages/icons/flag-icons.html">Flag Icons</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/simple-line-icon.html">Simple Line Icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/themify.html">Themify Icons</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>-->
    </ul>