﻿
<ul class="nav page-navigation">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="ion ion-md-home menu-icon"></i>
            <span class="menu-title">Inicio</span>
        </a>
    </li>
    <!--
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="ion ion-md-document menu-icon"></i>
            <span class="menu-title">Catálogos</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="submenu">
            <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Countries")"></a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "States")">Estados</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Companies")">Empresas</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "TypeServices")">Tipos de Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Services")">Servicios</a></li>
            </ul>
        </div>
    </li>-->
    <li class="nav-item mega-menu">
        <a href="#" class="nav-link">
            <i class="ion ion-md-apps menu-icon"></i>
            <span class="menu-title">Recursos Humanos</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="submenu">
            <div class="col-group-wrapper row">
                <div class="col-group col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <p class="category-heading">Basic Elements</p>
                            <div class="submenu-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/accordions.html">Accordion</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/badges.html">Badges</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/breadcrumbs.html">Breadcrumbs</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdown</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/modals.html">Modals</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/progress.html">Progress bar</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/pagination.html">Pagination</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/tabs.html">Tabs</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/tooltips.html">Tooltip</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-group col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <p class="category-heading">Advanced Elements</p>
                            <div class="submenu-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/dragula.html">Dragula</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/carousel.html">Carousel</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/clipboard.html">Clipboard</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/context-menu.html">Context Menu</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/loaders.html">Loader</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/slider.html">Slider</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/popups.html">Popup</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/notifications.html">Notification</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-group col-md-4">
                    <p class="category-heading">Icons</p>
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="pages/icons/flag-icons.html">Flag Icons</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/simple-line-icon.html">Simple Line Icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/themify.html">Themify Icons</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>
