﻿<ul class="nav page-navigation">
    <li class="nav-item" id="navHome">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="mdi mdi-hexagon-outline menu-icon"></i>
            <span class="menu-title">Inicio</span>
        </a>
    </li>
    <li class="nav-item" id="navCompanies">
        <a class="nav-link" href="@Url.Action("Index", "Companies")">
            <i class="ion ion-md-globe menu-icon"></i>
            <span class="menu-title">Empresas</span>
        </a>
    </li>
    <li class="nav-item" id="navTypeServices">
        <a class="nav-link" href="@Url.Action("Index", "TypeServices")">
            <i class="mdi mdi-bookmark-plus-outline menu-icon"></i>
            <span class="menu-title">Tipo de servicios</span>
        </a>
    </li>
    <li class="nav-item" id="navUsers">
        <a class="nav-link" href="@Url.Action("Index", "Users")">
            <i class="mdi mdi-face menu-icon"></i>
            <span class="menu-title">Usuarios</span>
        </a>
    </li>
    <li class="nav-item" id="navCatalogos">
        <a href="#" class="nav-link">
            <i class="mdi mdi-grid menu-icon"></i>
            <span class="menu-title">Catálogos</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="submenu">
            <ul class="submenu-item">
                <li class="nav-item" id="navCountries"><a class="nav-link" href="@Url.Action("Index", "Countries")">Países</a></li>
                <li class="nav-item" id="navStates"><a class="nav-link" href="@Url.Action("Index", "States")">Estados</a></li>
            </ul>
        </div>
    </li>
</ul>
