﻿@model tuconciergemodels.ServiceViewModel

<div class="modal-header">
    <h5 class="modal-title" id="smModalLabel">Información del servicio</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <dl>

        <dt>
            Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            Recordarios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recordatorios)
        </dd>

        <dt>
            Tipo de servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeService.Name)
        </dd>
        
        <dt>
            Sucursal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office.Name)
        </dd>

        <dt>
            Fecha de registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-dark btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
</div>