﻿@model tuconciergemodels.ServiceViewModel

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="serviceForm">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Name">Nombre</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Description">Descripción</label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Descripción" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            <label for="Recordatorios">Recordatorios</label>
            @Html.TextAreaFor(model => model.Recordatorios, new { @class = "form-control", @placeholder = "Recordarios" })
            @Html.ValidationMessageFor(model => model.Recordatorios, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="selectTypeService">Tipo de servicio</label>
            <select class="form-control" id="selectTypeService">
                <option value="0">Seleccionar...</option>
                @Html.Action("Select", "TypeServices")
            </select>
        </div>
        
        <div class="form-group">
            <label for="selectOffice">Sucursal</label>
            <select class="form-control" id="selectOffice">
                <option value="0">Seleccionar...</option>
                @Html.Action("Select", "Offices")
            </select>
        </div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TypeServiceId)
        @Html.HiddenFor(model => model.IdOffice)

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="Save();">@ViewBag.SaveTextButton</button>
</div>