﻿@model IEnumerable<tuconciergerestapi.Models.ComplementViewModel>
@{
    ViewBag.CountElements = 0;
}
<div class="modal-header">
    <h5 class="modal-title" id="smModalLabel">Complementos</h5>
    <input type="hidden" id="SalesPlanID" value="" />
</div>
<div class="col-lg-12 mt-3 d-flex justify-content-end">
    <button type="button" id="buto" class="btn btn-success btn-rounded btn-fw" onclick="createComp();">Agregar</button>
</div>
<div class="modal-body" id="mdModalBody">

    <table class="table table-hover" id="tableComp">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(ViewBag.CountElements += 1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-rounded btn-icon" onclick="EditComp(@item.Id);">
                                <i class="ion ion-md-refresh"></i>
                            </button> |
                            <button type="button" class="btn btn-danger btn-rounded btn-icon" onclick="ConfirmDeleteComp(@item.Id);">
                                <i class="ion ion-md-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" align="center">
                        <h5>Sin resultados</h5>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
</div>