﻿@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-sm-6">
        <h4 class="mb-1 font-weight-bold text-dark">Derek Wallace</h4>
        <p>Last login was 23 hours ago. View details</p>
    </div>
    <div class="col-sm-6">
        <div class="d-flex align-items-center justify-content-md-end">
            <a href="#" class="btn btn-outline-secondary">Monthly</a>
            <a href="#" class="btn btn-secondary ml-2">Quarterly</a>
        </div>
    </div>
</div>
<div class="row  mt-3">
    <div class="col-xl-4 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body py-4">
                <div class="d-flex flex-wrap justify-content-between">
                    <h2 class="mb-0 extra-large-title mt-1">Revenue </h2>
                    <div class="badge badge-pill badge-danger">-15%</div>
                </div>
                <p class="mt-2">May 20 - Jun 20,2019</p>
                <div class="d-lg-flex align-items-baseline justify-content-between mt-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-bg-square">
                            <i class="ion ion-ios-airplane"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold">$24,583</h1>
                    </div>
                </div>
                <button type="button" class="btn btn-link text-secondary p-0 mt-4 font-weight-bold">Read more</button>
            </div>
        </div>
    </div>
    <div class="col-xl-4 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body py-4">
                <div class="d-flex flex-wrap justify-content-between">
                    <h2 class="mb-0 extra-large-title mt-1">Profit Share </h2>
                    <div class="badge badge-pill badge-success">51%</div>
                </div>
                <p class="mt-2">May 20 - Jun 20,2019</p>
                <div class="d-lg-flex align-items-baseline justify-content-between mt-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-bg-square">
                            <i class="ion ion-ios-briefcase"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold">$1046</h1>
                    </div>
                </div>
                <button type="button" class="btn btn-link text-secondary p-0 mt-4 font-weight-bold">Read more</button>
            </div>
        </div>
    </div>
    <div class="col-xl-4 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body py-4">
                <div class="d-flex flex-wrap justify-content-between">
                    <h2 class="mb-0 extra-large-title mt-1">Daily Sales</h2>
                    <div class="badge badge-pill badge-success">34%</div>
                </div>
                <p class="mt-2">May 20 - Jun 20,2019</p>
                <div class="d-lg-flex align-items-baseline justify-content-between mt-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-bg-square">
                            <i class="ion ion-ios-document"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold">$342</h1>
                    </div>
                </div>
                <button type="button" class="btn btn-link text-secondary p-0 mt-4 font-weight-bold">Read more</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-lg-flex align-items-center justify-content-between">
                            <h3 class="text-dark card-title mb-0">Sales Status <span class="card-subtitle">Performance for Online revenue </span></h3>
                            <div class="mt-md-3">
                                <a href="#" class="btn py-0 px-2">Week</a>
                                <a href="#" class="btn py-0 px-2">Month</a>
                                <a href="#" class="btn py-0 px-2">Year</a>
                                <a href="#" class="btn py-0 px-2">All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="card-subtitle-lg">Orders by Location</h5>
                                <canvas id="order-by-location"></canvas>
                                <div class="sale-status-legends">
                                    <ul>
                                        <li class="label-secondary">
                                            <div class="legend-label">Saint Lucia</div>
                                            <div class="legend-data">$845</div>
                                        </li>
                                        <li class="label-warning">
                                            <div class="legend-label">Liberia</div>
                                            <div class="legend-data">$548</div>
                                        </li>
                                        <li class="label-info">
                                            <div class="legend-label">Saint Helena</div>
                                            <div class="legend-data">$624</div>
                                        </li>
                                        <li class="label-primary">
                                            <div class="legend-label">Kenya</div>
                                            <div class="legend-data">$624</div>
                                        </li>
                                        <li class="label-light">
                                            <div class="legend-label">Christmas Island</div>
                                            <div class="legend-data">$412</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-subtitle-lg">Sales by Location</h5>
                                <canvas id="sale-by-location"></canvas>
                                <div class="sale-status-legends sales-location">
                                    <ul>
                                        <li class="label-secondary">
                                            <div class="legend-label">Germany</div>
                                            <div class="legend-data">25%</div>
                                        </li>
                                        <li class="label-warning">
                                            <div class="legend-label">Australia</div>
                                            <div class="legend-data">45%</div>
                                        </li>
                                        <li class="label-info">
                                            <div class="legend-label">United Kingdom	</div>
                                            <div class="legend-data">10%	</div>
                                        </li>
                                        <li class="label-primary">
                                            <div class="legend-label">Brasil</div>
                                            <div class="legend-data">5%</div>
                                        </li>
                                        <li class="label-light">
                                            <div class="legend-label">Romania</div>
                                            <div class="legend-data">15%</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-subtitle-lg">Revenue for Last Month</h5>
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ion ion-md-settings settings-dropdown"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"><i class="ion ion-md-create mr-1"></i> Edit</a>
                                            <a class="dropdown-item" href="#"><i class="ion ion-md-trash mr-1"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <canvas id="revenueChart"></canvas>
                                <div class="row mt-4">
                                    <div class="col-sm-4 border-right-sm">
                                        <h5 class="font-weight-medium ml-lg-2">Total Income</h5>
                                        <h3 class="text-dark font-weight-bold ml-lg-2">$3,567.56</h3>
                                    </div>
                                    <div class="col-sm-4 border-right-sm">
                                        <h5 class="font-weight-medium ml-lg-2">Monthly Avg</h5>
                                        <h3 class="text-dark font-weight-bold ml-lg-2">$769.08</h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5 class="font-weight-medium ml-lg-2">Total Sales</h5>
                                        <h3 class="text-dark font-weight-bold ml-lg-2">5489</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-dark card-title">Detailed Report</h3>
                        <div class="owl-carousel owl-theme detailed-report">
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap">
                                            <div class="title text-dark">Orders</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">3,450</h3>
                                                <div class="text-danger small">-32.00</div>
                                            </div>
                                            <canvas id="order"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap">
                                            <div class="title text-dark">Users</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">3,450</h3>
                                                <div class="text-success small">+25.60</div>
                                            </div>
                                            <canvas id="users"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap">
                                            <div class="title text-dark">Users</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">18,390</h3>
                                                <div class="text-danger small">-2.0</div>
                                            </div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="mt-0">
                                                <small>7,578 avg</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap mb-0">
                                            <div class="title text-dark">Visitors</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">23,461</h3>
                                                <div class="text-success small">+5.6</div>
                                            </div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="mt-0">
                                                <small>6,54 avg</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap">
                                            <div class="title text-dark">Orders</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">3,450</h3>
                                                <div class="text-danger small">-32.00</div>
                                            </div>
                                            <canvas id="orderSlider"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap mb-0">
                                            <div class="title text-dark">Users</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">3,450</h3>
                                                <div class="text-success small">+25.60</div>
                                            </div>
                                            <canvas id="usersSlider"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap">
                                            <div class="title text-dark">Users</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">18,390</h3>
                                                <div class="text-danger small">-2.0</div>
                                            </div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="mt-0">
                                                <small>7,578 avg</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="detailed-report-wrap">
                                            <div class="title text-dark">Visitors</div>
                                            <div class="text-date">
                                                06 Jan 2019
                                            </div>
                                            <div class="d-lg-flex justify-content-between mb-3">
                                                <h3 class="text-dark mb-0 font-weight-medium">23,461</h3>
                                                <div class="text-success small">+5.6</div>
                                            </div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="mt-0">
                                                <small>6,54 avg</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="text-dark card-title">Sales by Time</h3>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="d-lg-flex justify-content-left">
                                    <h3 class="text-dark mb-0 font-weight-medium mr-2">6,576</h3>
                                    <div class="text-success small">+25.60</div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div id="chart-legends-state-by-sale" class="chart-legends-state-by-sale"></div>
                            </div>
                        </div>
                        <canvas id="state-by-sale"></canvas>
                        <p class="text-dark mt-4 pr-lg-5">Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few </p>
                        <button type="button" class="btn btn-link btn-fw px-0 font-weight-bold mt-3 pb-0">Read more</button>
                    </div>
                    <div class="col-sm-4 flex-column">
                        <h3 class="text-dark card-title">Users From United States</h3>
                        <div class="google-chart-container">
                            <div id="vmap" class="vector-map demo-vector-map-dashboard"></div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between mt-4">
                                <small>Florida</small>
                                <small>153%</small>
                            </div>
                            <div class="progress progress mt-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Hawaii</small>
                                <small>86.2%</small>
                            </div>
                            <div class="progress progress mt-1">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>New York</small>
                                <small>123%</small>
                            </div>
                            <div class="progress progress mt-1">
                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Texas</small>
                                <small>155%</small>
                            </div>
                            <div class="progress progress mt-1">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Georgia</small>
                                <small>68%</small>
                            </div>
                            <div class="progress progress mt-1">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xl-4 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="text-dark card-title">New user Registrations</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="border-0 pt-0 pl-0">
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <img class="img-sm rounded-circle mb-md-0" src="~/Content/images/faces/face2.jpg" alt="profile image">
                                        </div>
                                        <div>
                                            <h6 class="font-weight-bold text-dark mb-1">Eliza Hawkins</h6>
                                            <div>Grenada</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-0 pt-0">
                                    <button type="button" class="btn btn-secondary btn-sm">More</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <img class="img-sm rounded-circle mb-md-0" src="~/Content/images/faces/face3.jpg" alt="profile image">
                                        </div>
                                        <div>
                                            <h6 class="font-weight-bold text-dark mb-1">Emilie Bryan</h6>
                                            <div>New Caledonia</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light  btn-sm">More</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <img class="img-sm rounded-circle mb-md-0" src="~/Content/images/faces/face4.jpg" alt="profile image">
                                        </div>
                                        <div>
                                            <h6 class="font-weight-bold text-dark mb-1">Frances Lynch</h6>
                                            <div>Gabon</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light  btn-sm">More</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <img class="img-sm rounded-circle mb-md-0" src="~/Content/images/faces/face5.jpg" alt="profile image">
                                        </div>
                                        <div>
                                            <h6 class="font-weight-bold text-dark mb-1">Mamie Estrada</h6>
                                            <div>Sri Lanka</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light  btn-sm">More</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <img class="img-sm rounded-circle mb-md-0" src="~/Content/images/faces/face6.jpg" alt="profile image">
                                        </div>
                                        <div>
                                            <h6 class="font-weight-bold text-dark mb-1">Derek Wallace</h6>
                                            <div>Benin</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light  btn-sm">More</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <img class="img-sm rounded-circle mb-md-0" src="~/Content/images/faces/face7.jpg" alt="profile image">
                                        </div>
                                        <div>
                                            <h6 class="font-weight-bold text-dark mb-1">Irene Ingram</h6>
                                            <div>Burundi</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light  btn-sm">More</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="text-dark card-title">Order Overview</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-0 pt-0 pl-0">
                                    #
                                </th>
                                <th class="border-0 pt-0">
                                    Customer
                                </th>
                                <th class="border-0 pt-0">
                                    Prodcuts
                                </th>
                                <th class="border-0 pt-0">
                                    Delivery Date
                                </th>

                                <th class="border-0 pt-0">
                                    Status
                                </th>
                                <th class="border-0 pt-0">
                                    Shipping
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pl-0">
                                    01
                                </td>
                                <td>
                                    Garrett Burton
                                </td>
                                <td>
                                    Shoe
                                </td>
                                <td>
                                    03 Jul 2019
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm">Paid</button>
                                </td>
                                <td>
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    02
                                </td>
                                <td>
                                    Willie Ballard
                                </td>
                                <td>
                                    Bags
                                </td>
                                <td>
                                    18 Jul 2019
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm">Pending</button>
                                </td>
                                <td>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    03
                                </td>
                                <td>
                                    Harold Figueroa
                                </td>
                                <td>
                                    Iphone
                                </td>
                                <td>
                                    31 Jan 2019
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Failed</button>
                                </td>
                                <td>
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    04
                                </td>
                                <td>
                                    Marcus Mason
                                </td>
                                <td>
                                    Watch
                                </td>
                                <td>
                                    11 Sep 2019
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm">Pending</button>
                                </td>
                                <td>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    05
                                </td>
                                <td>
                                    Mathilda Gibbs
                                </td>
                                <td>
                                    Furniture
                                </td>
                                <td>
                                    06 Feb 2019
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm">Pending</button>
                                </td>
                                <td>
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    06
                                </td>
                                <td>
                                    Timothy Stone
                                </td>
                                <td>
                                    Imac
                                </td>
                                <td>
                                    05 Dec 2019
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Failed</button>
                                </td>
                                <td>
                                    Yes
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12 flex-column d-flex grid-margin stretch-card">
        <div class="row flex-grow">
            <div class="col-sm-12 grid-margin">
                <div class="card bg-success">
                    <div class="card-body px-3 py-3">
                        <div class="bg-white">
                            <div class="px-4 py-4">
                                <div class="row">
                                    <div class="col-xl-8">
                                        <h5 class="font-weight-bold text-dark">Jeffery Todd</h5>
                                        <p class="small mb-0 text-dark">Netherlands Antilles</p>
                                        <p class="small mb-0 text-dark">georgiana_fadel@yahoo.com</p>
                                    </div>
                                    <div class="col-xl-4 d-block d-none">
                                        <img src="~/Content/images/faces/face29.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <hr class="m-0">
                            <div class="px-4 py-4">
                                <div class="row">
                                    <div class="col-xl-4 border-right">
                                        <div class="small font-weight-bold text-dark">
                                            Followers
                                        </div>
                                        <h6 class="text-dark font-weight-medium">21.2k</h6>
                                    </div>
                                    <div class="col-xl-4 border-right">
                                        <div class="small font-weight-bold text-dark">
                                            Tweets
                                        </div>
                                        <h6 class="text-dark font-weight-medium">6.3K</h6>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="small font-weight-bold text-dark">
                                            Following
                                        </div>
                                        <h6 class="text-dark font-weight-medium">1386</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12  stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-lg-flex justify-content-between">
                            <h3 class="text-dark card-title">Revenue</h3>
                            <h3 class="text-dark font-weight-bold">$ 45,1258</h3>
                        </div>
                        <canvas id="barChartStacked"></canvas>
                        <div class="mt-2">18% decrease from last month</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-sm-12  d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="text-dark card-title">To do lists</h3>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list">
                        <li>
                            <div class="form-check form-check-primary">
                                <label class="form-check-label text-dark font-weight-medium">
                                    <input class="checkbox" type="checkbox">
                                    Meeting with team
                                    <i class="input-helper"></i>
                                </label>
                                <div class="row">
                                    <div class="col-sm-6 small">
                                        <div class="pl-4 ml-2 text-dark">
                                            New project dashboard
                                        </div>
                                    </div>
                                    <div class="col-sm-6 small text-right text-dark">12.30 - 01.30</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-primary">
                                <label class="form-check-label text-dark font-weight-medium">
                                    <input class="checkbox" type="checkbox">
                                    Project meeting with CEO
                                    <i class="input-helper"></i>
                                </label>
                                <div class="row">
                                    <div class="col-sm-6 small">
                                        <div class="pl-4 ml-2 text-dark">
                                            IOS app deisgn
                                        </div>
                                    </div>
                                    <div class="col-sm-6 small text-right text-dark">12.30 - 01.30</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-light">
                                <label class="form-check-label text-dark font-weight-medium">
                                    <input class="checkbox" type="checkbox">
                                    Do groceries shopping
                                    <i class="input-helper"></i>
                                </label>
                                <div class="row">
                                    <div class="col-sm-6 small">
                                        <div class="pl-4 ml-2 text-dark">
                                            Buy bread and milk
                                        </div>
                                    </div>
                                    <div class="col-sm-6 small text-right text-dark">02.18 - 02.45</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-light">
                                <label class="form-check-label text-dark font-weight-medium">
                                    <input class="checkbox" type="checkbox">
                                    Talke with amy
                                    <i class="input-helper"></i>
                                </label>
                                <div class="row">
                                    <div class="col-sm-6 small">
                                        <div class="pl-4 ml-2 text-dark">
                                            Help her with styling
                                        </div>
                                    </div>
                                    <div class="col-sm-6 small text-right text-dark">01.30 - 02.00</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-success">
                                <label class="form-check-label text-dark font-weight-medium">
                                    <input class="checkbox" type="checkbox">
                                    Have a lunch
                                    <i class="input-helper"></i>
                                </label>
                                <div class="row">
                                    <div class="col-sm-6 small">
                                        <div class="pl-4 ml-2 text-dark">
                                            Buy bread and milk
                                        </div>
                                    </div>
                                    <div class="col-sm-6 small text-right text-dark">12.30 - 01.30</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12  d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="text-dark card-title">Notifications</h3>
                <div class="list-wrapper">
                    <div class=" border-bottom pt-0 pb-3">
                        <div class="row">
                            <div class="col-sm-1">
                                <h4><i class="ion ion-ios-timer text-secondary"></i></h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-lg-flex align-items-center justify-content-between">
                                    <p class="text-dark mb-0">Keith Howell</p>
                                    <p class="text-muted small mb-0">9.30am</p>
                                </div>
                                <h6 class="font-weight-medium text-dark mt-2 mb-0">Sales dashboard have been</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" border-bottom py-3">
                        <div class="row">
                            <div class="col-sm-1">
                                <h4><i class="ion ion-ios-mail text-secondary"></i></h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-lg-flex align-items-center justify-content-between">
                                    <p class="text-dark mb-0">Randall Ortiz</p>
                                    <p class="text-muted small mb-0">9.30am</p>
                                </div>
                                <h6 class="font-weight-medium text-dark mt-2 mb-0">Posted a new note</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" border-bottom py-3">
                        <div class="row">
                            <div class="col-sm-1">
                                <h4><i class="ion ion-ios-checkbox-outline text-secondary"></i></h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-lg-flex align-items-center justify-content-between">
                                    <p class="text-dark mb-0">Hulda Clayton</p>
                                    <p class="text-muted small mb-0">9.30am</p>
                                </div>
                                <h6 class="font-weight-medium text-dark mt-2 mb-0">Profile Bio updated</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" border-bottom py-3">
                        <div class="row">
                            <div class="col-sm-1">
                                <h4><i class="ion ion-ios-desktop text-secondary"></i></h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-lg-flex align-items-center justify-content-between">
                                    <p class="text-dark mb-0">Lottie Hernandez</p>
                                    <p class="text-muted small mb-0">9.30am</p>
                                </div>
                                <h6 class="font-weight-medium text-dark mt-2 mb-0">Posted on his timeline</h6>
                            </div>
                        </div>
                    </div>
                    <div class=" border-bottom py-3">
                        <div class="row">
                            <div class="col-sm-1">
                                <h4><i class="ion ion-ios-bulb text-secondary"></i></h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-lg-flex align-items-center justify-content-between">
                                    <p class="text-dark mb-0">Lois Stevens</p>
                                    <p class="text-muted small mb-0">9.30am</p>
                                </div>
                                <h6 class="font-weight-medium text-dark mt-2 mb-0">Mentioned you at the new post</h6>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 pb-0">
                        <div class="row">
                            <div class="col-sm-1">
                                <h4><i class="ion ion-md-airplane text-secondary"></i></h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-lg-flex align-items-center justify-content-between">
                                    <p class="text-dark mb-0">Lois Stevens</p>
                                    <p class="text-muted small mb-0">9.30am</p>
                                </div>
                                <h6 class="font-weight-medium text-dark mt-2 mb-0">Mentioned you at the new post</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            $('.nav-item').removeClass('active');
            $('.nav-link').removeClass('active');
            $('#navHome').addClass('active');

        });
    </script>
}