﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar sesión - tuconcierge @DateTime.Now.Year</title>

    <link rel="stylesheet" href="~/Content/vendors/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel-2/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel-2/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-1to10.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-horizontal.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-movie.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-pill.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-reversed.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-square.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bootstrap-stars.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/css-stars.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/examples.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/fontawesome-stars-o.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/fontawesome-stars.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-asColorPicker/css/asColorPicker.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/x-editable/bootstrap-editable.css" />
    <link rel="stylesheet" href="~/Content/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/dropify/dropify.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-file-upload/uploadfile.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-toast-plugin/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-tags-input/jquery.tagsinput.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/dropzone/dropzone.css" />
    <link rel="stylesheet" href="~/Content/css/horizontal-layout-light/style.css" />

    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="main-panel">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo">
                                    <a class="navbar-brand brand-logo" href="@Url.Action("Index","Home")"><img style="width: 100% !important;" src="~/Content/images/logo.svg" alt="logo" /></a>
                                </div>
                                <h4>¡Hola! Bienvenido</h4>
                                <h6 class="font-weight-light">Inicia sesión para continuar</h6>
                                <form class="pt-3">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Correo electrónico">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Contraseña">
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="btnSave" onclick="Save();">Ingresar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript" src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script type="text/javascript" src="~/Content/js/off-canvas.js"></script>
    <script type="text/javascript" src="~/Content/js/hoverable-collapse.js"></script>
    <script type="text/javascript" src="~/Content/js/template.js"></script>
    <script type="text/javascript" src="~/Content/js/settings.js"></script>
    <script type="text/javascript" src="~/Content/js/todolist.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery.avgrund/jquery.avgrund.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-asColor/jquery-asColor.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-asColorPicker/jquery-asColorPicker.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/x-editable/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script type="text/javascript" src="~/Content/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/dropify/dropify.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-file-upload/jquery.uploadfile.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/dropzone/dropzone.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery.repeater/jquery.repeater.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/inputmask/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript" src="~/Content/vendors/inputmask/inputmask.binding.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="~/Content/js/modal-demo.js"></script>
    <script type="text/javascript" src="~/Content/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/js/bt-maxLength.js"></script>
    <script type="text/javascript" src="~/Content/js/alerts.js"></script>
    <script type="text/javascript" src="~/Content/js/avgrund.js"></script>
    <script type="text/javascript" src="~/Content/js/jq.tablesort.js"></script>
    <script type="text/javascript" src="~/Content/js/tablesorter.js"></script>
    <script type="text/javascript" src="~/Content/js/formpickers.js"></script>
    <script type="text/javascript" src="~/Content/js/form-addons.js"></script>
    <script type="text/javascript" src="~/Content/js/x-editable.js"></script>
    <script type="text/javascript" src="~/Content/js/dropify.js"></script>
    <script type="text/javascript" src="~/Content/js/dropzone.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-file-upload.js"></script>
    <script type="text/javascript" src="~/Content/js/formpickers.js"></script>
    <script type="text/javascript" src="~/Content/js/form-repeater.js"></script>
    <script type="text/javascript" src="~/Content/js/toastDemo.js"></script>
    <script type="text/javascript" src="~/Content/js/dashboard.js"></script>
    <script src="~/Scripts/Login.js"></script>

</body>

</html>
