﻿@model tuconciergemodels.Country


<div class="modal-header">
    <h5 class="modal-title" id="smModalLabel">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="countryForm">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.Id)

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="Save();">Guardar</button>
</div>
