﻿@model tuconciergemodels.VerifyEmailModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Activación - tuconcierge @DateTime.Now.Year</title>

    <link rel="stylesheet" href="~/Content/vendors/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css" />

    <link rel="stylesheet" href="~/Content/css/horizontal-layout-light/style.css" />

    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
                <div class="row flex-grow">
                    <div class="col-lg-7 mx-auto text-white">
                        <div class="row align-items-center d-flex flex-row">
                            <div class="col-4 offset-4 text-lg-center pr-lg-4">
                                <a class="navbar-brand brand-logo" href="@Url.Action("Index","Home")"><img style="width: 100% !important;" src="~/Content/images/logo-v-blanco.png" alt="logo" /></a>
                            </div>
                            <div id="procesando" class="col-lg-12 error-page-divider text-lg-center mt-5 pl-lg-4" >
                                <h2 class="text-white">ESPERE UN MOMENTO</h2>
                                <h3 class="font-weight-light text-white">Su solicitud esta siendo procesada...</h3>
                            </div>
                            <div id="activado" class="col-lg-12 error-page-divider text-lg-center mt-5 pl-lg-4" hidden>
                                <h2 class="text-white">CUENTA ACTIVADA</h2>
                                <h3 class="font-weight-light text-white">La cuenta ha sido activada satisfactoriamente. Ahora puede iniciar sesión en la plataforma.</h3>
                            </div>
                            <div id="error" class="col-lg-12 error-page-divider text-lg-center mt-5 pl-lg-4" hidden>
                                <h2 class="text-white" >ERROR AL PROCESAR LA SOLICITUD</h2>
                                <h3 class="font-weight-light text-white" id="errorMessage">No se ha logrado procesar la solicitud, la cuenta ya se encuentra activa, de lo contrario, contacte a soporte técnico.</h3>
                            </div>
                            <input hidden value="@Model.Email" id="email" />
                            <input hidden value="@Model.Code" id="code" />
                        </div>
                        <div class="row mt-5">
                            <div id="login" class="col-12 text-center mt-xl-2" hidden>
                                <a class="btn btn-lg bg-white" href="@Url.Action("Login","Home")">Iniciar sesión</a>
                            </div>
                            <div id="home" class="col-12 text-center mt-xl-2" hidden>
                                <a class="btn btn-lg bg-white" href="@Url.Action("Login","Home")">Inicio</a>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 mt-xl-2">
                                <div class="d-sm-flex justify-content-center">
                                    <span class="text-white  d-block d-sm-inline-block">Copyright © @DateTime.Now.Year <a href="@Url.Action("Index","Home")" target="_blank" style="text-decoration: none; color: white;">tuconcierge</a>.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script type="text/javascript" src="~/Content/js/off-canvas.js"></script>
    <script type="text/javascript" src="~/Content/js/hoverable-collapse.js"></script>
    <script type="text/javascript" src="~/Content/js/template.js"></script>
    <script type="text/javascript" src="~/Content/js/settings.js"></script>
    <script type="text/javascript" src="~/Content/js/todolist.js"></script>
    <script type="text/javascript" src="~/Scripts/Activation.js"></script>

</body>
</html>
