﻿@model tuconciergemodels.TypeService


<div class="modal-header">
    <h5 class="modal-title" id="smModalLabel">Información del tipo de servicio</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <dl>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            <img src="@Model.Image" alt="image" class="img-sm mr-3" style="border-radius: 0px !important;">
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Fecha de registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-dark btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
</div>