﻿
@{
    ViewBag.Title = "Tipos de servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Catálogo tipos de servicios
            </h4>
            <div class="row d-flex align-items-center justify-content-start">

                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for="NameFilter">Nombre</label>
                        <input type="text" class="form-control" id="NameFilter" placeholder="Nombre">
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <button type="button" class="btn btn-dark btn-rounded btn-fw" onclick="getList();">Buscar</button>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 mt-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-success btn-rounded btn-fw" onclick="Create();">Agregar</button>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="table-responsive" id="MyTable">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/TypeServices.js"></script>
}
