﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - tuconcierge 2019</title>

    <link rel="shortcut icon" href="~/Content/images/favicon.png" />

    <link rel="stylesheet" href="~/Content/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel-2/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel-2/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-1to10.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-horizontal.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-movie.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-pill.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-reversed.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bars-square.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/bootstrap-stars.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/css-stars.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/examples.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/fontawesome-stars-o.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-bar-rating/fontawesome-stars.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-asColorPicker/css/asColorPicker.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/x-editable/bootstrap-editable.css" />
    <link rel="stylesheet" href="~/Content/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/dropify/dropify.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-file-upload/uploadfile.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-toast-plugin/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/jquery-tags-input/jquery.tagsinput.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/Content/vendors/dropzone/dropzone.css" />
    <link rel="stylesheet" href="~/Content/css/horizontal-layout-light/style.css" />
    <link href="~/Content/css/horizontal-layout-light/googlemapt.css" rel="stylesheet" />

    @*@Styles.Render("~/Bundle/css")*@
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="container">
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                        <a class="navbar-brand brand-logo" href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.svg" alt="logo" /></a>
                        <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index","Home")"><img src="~/Content/images/logo-mini.svg" alt="logo" /></a>
                    </div>
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                        <ul class="navbar-nav mr-lg-2">
                            <li class="nav-item nav-search d-none d-lg-block">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="search">
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                    <span class="nav-profile-name">@Session["userName"]</span>&nbsp;&nbsp;
                                    <img src="~/Content/images/faces/emily02.png" alt="profile" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item">
                                        <i class="icon mdi mdi-face-profile text-primary"></i>
                                        Mi perfil
                                    </a>
                                    <a class="dropdown-item" onclick="Logout();">
                                        <i class="mdi mdi-logout text-primary"></i>
                                        Cerrar sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                            <span class="icon ion-md-menu"></span>
                        </button>
                    </div>
                </div>
            </nav>
            <nav class="bottom-navbar">
                <div class="container">
                    @if (Session["roleId"].ToString() == "acbf8ddf-c912-46ae-920a-20462483ca21")
                    {
                        @Html.Action("root", "TypeAccount")
                    }
                    else if (Session["roleId"].ToString() == "76f53ce2-d657-4d39-b3ba-a99b047d152b")
                    {
                        @Html.Action("admin", "TypeAccount")
                    }
                    else
                    {
                        @Html.Action("responsable", "TypeAccount")
                    }

                </div>
            </nav>
        </div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer mr-0 ml-0">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year <a href="@Url.Action("Index","Home")" target="_blank" style="color: white; text-decoration:none;">tuconcierge</a>.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Todos los derechos reservados.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        <!-- loader -->
        <div class="row" hidden id="Loader">

            <div class="col-lg-12 mt-5 mb-5">

                <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </div>

        </div>
        <!-- loader end -->
        <!-- Modal large-->
        <div class="modal fade" id="lgModal" tabindex="-1" role="dialog" aria-labelledby="lgModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="lgModalContent">

                </div>
            </div>
        </div>
        <!-- Modal large ends-->
        <!-- Modal medium -->
        <div class="modal fade" id="mdModal" tabindex="-1" role="dialog" aria-labelledby="mdModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="mdModalContent">

                </div>
            </div>
        </div>
        <!-- Modal medium ends-->
        <!-- Modal small -->
        <div class="modal fade" id="smModal" tabindex="-1" role="dialog" aria-labelledby="smModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content" id="smModalContent">

                </div>
            </div>
        </div>
        <!-- Modal small ends-->
    </div>
    <!-- container-scroller -->

    <script type="text/javascript" src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script type="text/javascript" src="~/Content/js/off-canvas.js"></script>
    <script type="text/javascript" src="~/Content/js/hoverable-collapse.js"></script>
    <script type="text/javascript" src="~/Content/js/template.js"></script>
    <script type="text/javascript" src="~/Content/js/settings.js"></script>
    <script type="text/javascript" src="~/Content/js/todolist.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery.avgrund/jquery.avgrund.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-asColor/jquery-asColor.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-asColorPicker/jquery-asColorPicker.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/x-editable/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script type="text/javascript" src="~/Content/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/dropify/dropify.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-file-upload/jquery.uploadfile.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/dropzone/dropzone.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery.repeater/jquery.repeater.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/inputmask/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript" src="~/Content/vendors/inputmask/inputmask.binding.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="~/Content/js/modal-demo.js"></script>
    <script type="text/javascript" src="~/Content/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/js/bt-maxLength.js"></script>
    <script type="text/javascript" src="~/Content/js/alerts.js"></script>
    <script type="text/javascript" src="~/Content/js/avgrund.js"></script>
    <script type="text/javascript" src="~/Content/js/jq.tablesort.js"></script>
    <script type="text/javascript" src="~/Content/js/tablesorter.js"></script>
    <script type="text/javascript" src="~/Content/js/formpickers.js"></script>
    <script type="text/javascript" src="~/Content/js/form-addons.js"></script>
    <script type="text/javascript" src="~/Content/js/x-editable.js"></script>
    <script type="text/javascript" src="~/Content/js/dropify.js"></script>
    <script type="text/javascript" src="~/Content/js/dropzone.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-file-upload.js"></script>
    <script type="text/javascript" src="~/Content/js/formpickers.js"></script>
    <script type="text/javascript" src="~/Content/js/form-repeater.js"></script>
    <script type="text/javascript" src="~/Content/js/toastDemo.js"></script>
    <script type="text/javascript" src="~/Content/js/dashboard.js"></script>
    <script type="text/javascript" src="~/Content/js/file-upload.js"></script>
    <script type="text/javascript" src="~/Content/js/select2.js"></script>
    <script type="text/javascript" src="~/Scripts/ProfileMenu.js"></script>

    @*@Scripts.Render("~/Bundle/js/essential")
        @Scripts.Render("~/Bundle/js/pluggins")
        @Scripts.Render("~/Bundle/js")*@
    @RenderSection("scripts", required: false)

</body>


</html>
