﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - REST API Tuconcierge @DateTime.Now.Year</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-0">

    <nav class="navbar navbar-expand-md bg-white navbar-light fixed-top shadow-sm">
        
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand" href="@Url.Action("Index", "Home",  new { area = "" }, null)">
                <img src="~/Content/image/logo-h.png" alt="Logo" height="48">
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "" }, null)">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Help", new { area = "" }, null)">Documentación</a>
                    </li>
                </ul>
            </div>

        </div>
        
    </nav>

    <div class="container body-content mt-5">

        <div class="row">

            <div class="col-lg-12 mt-5">

                @RenderBody()

            </div>

        </div>

        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - REST API Tuconcierge</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
