﻿@model tuconciergemodels.CoverageViewModel


<div class="modal-header">
    <h5 class="modal-title">@ViewBag.ModalTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="ion ion-md-close-circle-outline"></i>
    </button>
</div>
<div class="modal-body" id="mdModalBody">

    <form id="coverageForm">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-1">

            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="Name">Nombre</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="selectOffice">Sucursal</label>
                <select class="form-control" id="selectOffice">
                    <option value="0">Seleccionar...</option>
                    @Html.Action("Select", "Offices")
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="map-search">Buscar</label>
            <input id="map-search" class="form-control controls" type="text" placeholder="Buscar..." style="width: 70% !important;">
        </div>

        <input hidden id="city" type="text" class="reg-input-city" placeholder="City">

        <div id="map-canvas" style="width:100%; height: 350px !important;"></div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OfficeId)
        @Html.HiddenFor(model => model.Lat, new { @class = "latitude" })
        @Html.HiddenFor(model => model.Long, new { @class = "longitude" })
        @Html.HiddenFor(model => model.Ratio)
        @Html.HiddenFor(model => model.Long)

    </form>

</div>
<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-danger btn-rounded btn-fw" data-dismiss="modal">Cancelar</button>
    <button id="btnSave" type="button" class="btn btn-success btn-rounded btn-fw" onclick="Save();">@ViewBag.SaveTextButton</button>
</div>


<script src="~/Content/js/mapscircle.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUtY_C0qwAWw1ZY4UX8R_oNiO8ptMqlas&libraries=places&callback=initialize"></script>
